{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Are you sure you want to remove thread {{ thread.title }}?
                </div>
                <div class="card-body">
                    <form action="{{ url_for('delete_thread', topic_text_id=topic.text_id, thread_id=thread.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="{{ url_for('view_thread', topic_text_id=topic.text_id, thread_id=thread.id) }}" class="btn btn-secondary">No</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}