{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row min-height: 100vh;">
        <div class="col-lg-3 mb-2 d-flex flex-column justify-content-center align-items-center">
            <h1>Topics</h1>
        </div>
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Threads</th>
                            <th scope="col">Replies</th>
                            <th scope="col">Last reply</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in topics %}
                        <tr>
                            <td>
                            <a href="topics/{{ topic.text_id }}" class="link-secondary">
                                {{ topic.title }}
                            </a>
                            </td>
                            <td>{{ topic.threads}}</td>
                            <td>{{ topic.replies }}</td>
                            <td>{{ topic.last_reply }}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}