{% extends "layout.html" %}
{% block content %}

<div class="container">
    <p>{{ message }}</p>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    New reply
                </div>
                <div class="card-body">
                    <form action="{{ url_for('new_reply', topic_text_id=topic.text_id, thread_id=thread.id) }}" method="post">
                        <div class="form-group">
                          <small id="replyHelp" class="form-text text-muted">The reply should contain at least 1 character, and less than 1000 characters.</small>
                          <textarea type="reply" class="form-control" name="reply" id="replyInput" rows="5" minlength="1" maxlength="1000" aria-describedby="replyHelp" placeholder="Reply"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}