{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Profile: {{ user.username }}</h1>
    <p>You joined on {{ user.created_time.strftime('%B %d, %Y') }}</p>

    <h2>Your likes</h2>
    <ul class="list-group mb-3">
        {% for like in likes %}
            <li class="list-group-item">
                <b>{{ like.reply_username }}</b>
                <p>{{ like.content }}</p>
                <small class="text-muted">{{ like.created_time.strftime('%B %d, %Y at %H:%M:%S') }}</small>
                <br>
                <small class="text-muted">
                    In thread: <a href="{{ url_for('view_thread', topic_text_id=like.topic_text_id, thread_id=like.thread_id) }}">{{ like.thread_title }}</a>
                    <br>
                    In {% if like.topic_is_hidden %}hidden{% endif %} topic: <a href="{{ url_for('view_threads', topic_text_id=like.topic_text_id) }}">{{ like.topic_title }}</a>
                </small>
            </li>
        {% endfor %}
    </ul>

    <h2>Your Threads</h2>
    <ul class="list-group mb-3">
        {% for thread in threads %}
            <li class="list-group-item">
                <a href="{{ url_for('view_thread', topic_text_id=thread.topic_text_id, thread_id=thread.id) }}">{{ thread.title }}</a>
                <small class="text-muted">{{ thread.created_time.strftime('%B %d, %Y at %H:%M:%S') }}</small>
                <br>
                <small class="text-muted">
                In {% if thread.topic_is_hidden %}hidden{% endif %} topic: <a href="{{ url_for('view_threads', topic_text_id=thread.topic_text_id) }}">{{ thread.topic_title }}</a>
                </small>
            </li>
        {% endfor %}
    </ul>

    <h2>Your Replies</h2>
    <ul class="list-group">
        {% for reply in replies %}
            <li class="list-group-item">
                <p>{{ reply.content }}</p>
                <small class="text-muted">{{ reply.created_time.strftime('%B %d, %Y at %H:%M:%S') }}</small>
                <br>
                <small class="text-muted">
                    In thread: <a href="{{ url_for('view_thread', topic_text_id=reply.topic_text_id, thread_id=reply.thread_id) }}">{{ reply.thread_title }}</a>
                    <br>
                    In {% if reply.topic_is_hidden %}hidden{% endif %} topic: <a href="{{ url_for('view_threads', topic_text_id=reply.topic_text_id) }}">{{ reply.topic_title }}</a>
                </small>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}