{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row min-height: 100vh;">
        <div class="col-lg-3 mb-2 d-flex flex-column justify-content-center align-items-left">
            <h1>{{ topic.title }}</h1>
        </div>
        <div class="col-lg-2 mb-2 d-flex flex-column justify-content-center align-items-center">
            {% if session.username %}
                <a href="{{ topic.text_id }}/new_thread" class="btn btn-primary">New Thread</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Replies</th>
                            <th scope="col">Last reply</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td><a href="{{ url_for('view_threads', topic_text_id=topic.text_id) }}/{{ thread.id }}" class="link-secondary">{{ thread.title }}</a></td>
                            <td>{{ thread.replies }}</td>
                            <td>{{ thread.last_reply }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3 mb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Topics</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

{% endblock %}