{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row min-height: 100vh;">
        <div class="col-lg-3 mb-2 d-flex flex-column justify-content-center align-items-left">
            <h1>{{ thread.title }}</h1>
        </div>

        <div class="col-lg-5 mb-2 d-flex justify-content-center align-items-center">
            {% if session.username %}
                <a href="{{ thread.id }}/new_reply" class="btn btn-primary me-2">Reply</a>
            {% if session.username == thread.username  or session.is_admin %}
                <a href="{{ thread.id }}/edit_thread" class="btn btn-primary me-2">Edit</a>
            {% endif %}
            {% if session.is_admin %}
                <a href="{{ thread.id }}/delete_thread" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-2">
            {% for i in range(replies| length) %}
            <div class="card mb-2" id="{{ i+1 }}">
                <h5 class="card-header">#{{ i+1 }} {{ replies[i].username }}</h5>
                <div class="card-body">
                    <h5 class="card-title custom-card-title">
                        {{ replies[i].created_time.strftime('%B %d, %Y at %H:%M:%S') }}
                    </h5>
                    <p class="card-text">
                    {% if replies[i].is_edited %}
                    <small class="text-muted">(edited)</small>
                    {% endif %}
                        {% for row in replies[i].content %}
                            <p>{{ row }}</p>
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% if replies[i].has_liked %}
                    <form action="{{ url_for('unlike_reply', thread_id=thread.id, reply_id=replies[i].id, reply_index=i+1) }}" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                            <button type="submit" class="btn">
                                <img src="{{ url_for('static', filename='unlike.png') }}" alt="Unlike" width="30" height="30">
                            </button>
                        </form>
                    {% else %}
                    <form action="{{ url_for('like_reply', thread_id=thread.id, reply_id=replies[i].id, reply_index=i+1) }}" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                            <button type="submit" class="btn">
                                <img src="{{ url_for('static', filename='like.png') }}" alt="Like" width="30" height="30">
                            </button>
                        </form>
                    {% endif %}
                    {% if session.user_id == replies[i].user_id %}
                        <a href="{{ url_for('edit_reply', topic_text_id=topic.text_id, thread_id=thread.id, reply_id=replies[i].id) }}" class="btn btn-primary custom-btn">Edit</a>
                    {% endif %}
                    {% if session.user_id == replies[i].user_id or session.is_admin %}
                        <form action="{{ url_for('delete_reply', topic_text_id=topic.text_id, thread_id=thread.id, reply_id=replies[i].id) }}" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                            <button type="submit" class="btn btn-danger custom-btn">Delete</button>
                        </form>
                    {% endif %}
                    <br><small class="likes text-muted">{{ replies[i].likes }} likes</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3 mb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Topics</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('view_threads', topic_text_id=topic.text_id) }}">{{ topic.title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

{% endblock %}